public net.minecraft.client.Minecraft field_193996_ah # renderPartialTicksPaused
public-f net.minecraft.client.audio.SoundHandler field_147694_f # sndManager
public-f net.minecraft.client.audio.SoundManager field_148630_i # invPlayingSounds

# Leaf fix - remove final so vanilla leaf fields can be replaced at runtime
public net.minecraft.init.Blocks field_150362_t # LEAVES
public net.minecraft.init.Blocks field_150361_u # LEAVES2
public net.minecraft.world.gen.feature.WorldGenTrees field_181654_b # DEFAULT_LEAF
public net.minecraft.world.biome.BiomeJungle field_181621_aF # JUNGLE_LEAF
public net.minecraft.world.biome.BiomeJungle field_181622_aG # OAK_LEAF
public net.minecraft.world.gen.feature.WorldGenBirchTree field_181630_b # LEAF
public net.minecraft.world.gen.feature.WorldGenMegaPineTree field_181634_f # LEAF
public net.minecraft.world.gen.feature.WorldGenSwamp field_181649_b # LEAF
public net.minecraft.world.gen.feature.WorldGenTaiga1 field_181637_b # LEAF
public net.minecraft.world.gen.feature.WorldGenTaiga2 field_181646_b # LEAF
public net.minecraft.world.biome.BiomeTaiga field_150641_aE # MEGA_PINE_GENERATOR
public net.minecraft.world.biome.BiomeTaiga field_150642_aF # MEGA_SPRUCE_GENERATOR
public net.minecraft.world.biome.Biome field_76757_N # TREE_FEATURE
public net.minecraft.world.gen.feature.WorldGenCanopyTree field_181641_b # DARK_OAK_LEAVES
public net.minecraft.world.gen.feature.WorldGenSavannaTree field_181644_b # LEAF

public-f net.minecraft.entity.passive.AbstractHorse field_110296_bG # horseChest

# Parallel nuke explosion (copy-on-write carve) - vanilla chunk/storage/palette internals
public net.minecraft.nbt.NBTTagLongArray field_193587_b # data
public net.minecraft.world.chunk.BlockStateContainer field_186024_e # bits
public net.minecraft.world.chunk.BlockStateContainer field_186022_c # palette
public net.minecraft.world.chunk.BlockStateContainer field_186021_b # storage
public net.minecraft.world.chunk.BlockStateContainer field_186023_d # REGISTRY_BASED_PALETTE
public-f net.minecraft.world.chunk.storage.ExtendedBlockStorage field_177488_d # data
public-f net.minecraft.world.chunk.storage.ExtendedBlockStorage field_76684_a # yBase
public net.minecraft.world.chunk.storage.ExtendedBlockStorage field_76682_b # blockRefCount
public net.minecraft.world.chunk.storage.ExtendedBlockStorage field_76683_c # tickRefCount
public net.minecraft.world.chunk.storage.ExtendedBlockStorage field_76679_g # blockLight
public net.minecraft.world.chunk.storage.ExtendedBlockStorage field_76685_h # skyLight
public net.minecraft.util.IntIdentityHashBiMap field_186820_d # byId
public net.minecraft.world.chunk.BlockStatePaletteLinear field_186042_a # states
public net.minecraft.world.chunk.BlockStatePaletteLinear field_186045_d # arraySize
public net.minecraft.world.chunk.BlockStatePaletteHashMap field_186046_a # statePaletteMap
public net.minecraft.world.chunk.Chunk field_76636_d # loaded
public net.minecraft.world.chunk.Chunk field_76645_j # entityLists
